.select-wrapper {
    position: relative;
}

.select-wrapper:focus-within .prefix-icon {
    opacity: 1;
}

.prefix-icon {
    position: absolute;
    height: 100%;
    width: 31px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
}

.prefix-icon :global span {
    display: flex;
    align-items: center;
    justify-content: center;
}

.select-wrapper :global .ant-select-item-option {
    padding: 9px 24px !important;
}

.select-wrapper :global .ant-select-selection-item,
.select-wrapper :global .ant-select-selection-placeholder {
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 18px !important;
    display: flex;
    align-items: center;
}

.select-wrapper :global .ant-select-selector {
    min-height: 40px !important;
    padding: 0px 30px 0px 16px !important;
    border: 1px solid #ccd1d4 !important;
    border-radius: 8px !important;
}

.select-wrapper :global .ant-select-status-error:not(.ant-select-customize-input) .ant-select-selector {
    border: 1px solid #ff4d4f !important;
}

.disabled-select :global .ant-select-selector {
    border: none !important;
}

.select-wrapper :global .ant-select-selection-search-input {
    height: 40px !important;
}

.custom-select :global .ant-select-selection-placeholder,
.custom-select :global .ant-select-selection-search-input,
.custom-select :global .ant-select-selection-item {
    padding-left: 8px !important;
    height: 40px !important;
}

.select-wrapper :global .ant-select-multiple .ant-select-selection-overflow .ant-select-selection-item-content {
    font-size: 12px !important;
}
